body, html{
    height: 100%;
}

body {
    background-image: url(main-bg.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

h1{
    text-align: center;
    margin-top: 8px;
    color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin: 1em auto;
    width: 300px;
    min-width: 250px;
}

.spinner{
    display: none;
    height: 50px;
    width: 50px;
    background-image: url('loading-gif-png-1.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    z-index: 5;
}

.weather-info {
    display: none;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    /* width: 100%; */
    padding: 10px;
    border-radius: 8px;
}

.weather-info > p{
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}

.weather-name {
    font-size: 2em;
}

h3{
    font-size: 4em;
}

.error-message {
    text-align: center;
    display: none;
    text-transform: capitalize;
}

.city-name {
    text-transform: uppercase;
    letter-spacing: 8px;
}

.btn {
    color: black;
    border-color: black;
}

